<app-spinner-overlay></app-spinner-overlay>
<div style="width: 98%; min-height: 98%; background-color: white; margin: 1%; border-radius: 20px;">

    <div style="display: flex; flex-direction: row;" class="align_div">
        <button mat-icon-button aria-label="Example icon button with a home icon">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="title">
            Add Content Info
        </div>
    </div>

    <div class="description">
        Add content type and details here about this chapter.
    </div>

    <div class="align_content" style="padding-top: 3.5em;">
        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" [(ngModel)]="contentType">
            <mat-button-toggle value="video" (click)="addVideoContent();">
                <mat-icon>videocam</mat-icon>
                Video
            </mat-button-toggle>
            <mat-button-toggle value="text" (click)="addTextContent();">
                <mat-icon>description</mat-icon>
                Text
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <router-outlet>

    </router-outlet>
</div>