<div style="width: 98%; min-height: 98%; background-color: white; margin: 1%; border-radius: 20px;">

    <div style="display: flex; flex-direction: row;" class="align_div">
        <button mat-icon-button aria-label="Example icon button with a home icon">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="title">
            Add New Course
        </div>
    </div>

    <div class="description">
        Each course has chapters, subchapters and then videos and text files. You can upload all of this one by one here.
    </div>

    <div class="align_content">
        <div [ngClass]="hide ? 'field_in_focus' : 'field_not_in_focus'">

            <div style="font-size: 28px;" [attr.contenteditable]="hide" class="title">
                {{courseName}}
            </div>

            <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'save' : 'edit'}}</mat-icon>
            </button>

        </div>

        <div style="color: dimgray; padding-left: 0.5em; font-size: 12px; padding-top: 4px;">
            * This name will appear to farmers as course name
        </div>

        <form [formGroup]="stateForm">
            <mat-form-field appearance="fill">
                <mat-label>States Group</mat-label>
                <input type="text" matInput formControlName="stateGroup" required [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                        <mat-option *ngFor="let name of group.category" [value]="name.category_name">
                            {{name.category_name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <mat-form-field appearance="outline" style="padding-top: 2em; padding-left: 0.5em;">
            <mat-label>A short description about the course</mat-label>
            <input matInput maxlength="400" placeholder="Crop" #input>
            <mat-hint align="end">{{input.value.length}} / 400</mat-hint>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" style="padding-top: 2em; padding-left: 0.5em;">
            <mat-label>The complete description of the course</mat-label>
            <input matInput maxlength="400" placeholder="Crop" #input>
            <mat-hint align="end">{{input.value.length}} / 800</mat-hint>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="15"></textarea>
        </mat-form-field>

        <div style="color: dimgray; padding-left: 0.5em; padding-top: 8px; padding-bottom: 4px;">
            Create chapters and lessons :
        </div>

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                <button mat-icon-button class="checklist-leaf-node">
                    <mat-icon color="warn">delete</mat-icon>
                </button>

                <button mat-icon-button class="checklist-leaf-node">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-flat-button (click)="addCourseContent();">{{node.item}}</button>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
                <mat-form-field appearance="fill">
                    <mat-label>New item...</mat-label>
                    <input matInput #itemValue placeholder="Ex. Lettuce">
                </mat-form-field>
                <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>

                <button mat-flat-button (click)="addCourseContent();">{{node.item}}</button>
                <button mat-icon-button (click)="addNewItem(node)">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-tree-node>
        </mat-tree>

    </div>

</div>