<!-- Cards with media area -->
<div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: whitesmoke;">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 01</mat-card-title>
                <mat-card-subtitle>Device - 01</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_1" (click)="switch_1();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 02</mat-card-title>
                <mat-card-subtitle>Device - 02</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_2" (click)="switch_2();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 03</mat-card-title>
                <mat-card-subtitle>Device - 03</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_3" (click)="switch_3();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 04</mat-card-title>
                <mat-card-subtitle>Device - 04</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_4" (click)="switch_4();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 05</mat-card-title>
                <mat-card-subtitle>Device - 05</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_5" (click)="switch_5();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 06</mat-card-title>
                <mat-card-subtitle>Device - 06</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_6" (click)="switch_6();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 07</mat-card-title>
                <mat-card-subtitle>Device - 07</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_7" (click)="switch_7();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Switch 08</mat-card-title>
                <mat-card-subtitle>Device - 08</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>

        <mat-card-content style="float: right; ">
            <div style="display: flex; flex-direction: column;">
                <mat-slide-toggle [(ngModel)]="isChecked_8" (click)="switch_8();"></mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>

</div>