<app-spinner-overlay></app-spinner-overlay>
<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: whitesmoke;">

    <mat-card>
        <span style="cursor: pointer; display: flex; justify-content: center; align-items: center;">
            <img src="/assets/images/farmisto-logo-78x100.png" style="max-height: 4em;">
        </span>

        <div>
            <form autocomplete="off" [formGroup]="form" class="mt-2">
                <div class="row">
                    <mat-form-field appearance="outline" style="padding-top: 2em; width: 100%; font-size: 14px;">
                        <mat-label>Login Email Id</mat-label>
                        <input matInput maxlength="400" formControlName="email">
                        <mat-icon matSuffix>local_post_office</mat-icon>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" placeholder="Password" style=" width: 100%; font-size: 14px;">
                        <mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password">
                    </mat-form-field> 
                </div>
            </form>
            <div style="display: flex; justify-content: end;">
                <button mat-raised-button color="primary" style="height: 2.8em !important; width: 7em;" (click)="login()" [disabled]="!form.valid">
                    Login
                </button>
            </div>
        </div>
    </mat-card>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; color: grey; margin-top: 30px; font-size: 14px;">
        <mat-divider style="width: 200px; margin-right: 10px;"></mat-divider>
        Or
        <mat-divider style="width: 200px; margin-left: 10px;"></mat-divider>
    </div>

    <button style="margin-top: 2em; width: 500px;" mat-stroked-button color="primary" (click)="signup()">Sign Up</button>
</div>