<div style="width: 98%; height: 98%; background-color: white; margin: 1%; border-radius: 20px;">

    <div class="title">
        Analytics Screen
    </div>

    <div class="description">
        Get to know everything about users from quick analytics to support query resolution and more!
    </div>

    <ngx-charts-pie-grid style="width: 100%;" [view]="view" [scheme]="colorScheme" [results]="singles" (select)="onSelect($event)" (window:resize)="onResize($event)">
    </ngx-charts-pie-grid>

</div>