<div class="align_content" style="padding-top: 1em;">

    <div [ngClass]="hide ? 'field_in_focus' : 'field_not_in_focus'">

        <div style="font-size: 28px;" [attr.contenteditable]="hide" class="title" (input)="updateContentName($event);">
            {{title}}
        </div>

        <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'save' : 'edit'}}</mat-icon>
        </button>

    </div>

    <div style="color: dimgray; padding-left: 0.5em; font-size: 12px; padding-top: 4px;">
        * This name will appear to farmers as video name
    </div>

    <mat-form-field appearance="outline" style="padding-top: 2em; padding-left: 0.5em;">
        <mat-label>Video URL</mat-label>
        <input [(ngModel)]="url" matInput maxlength="400" placeholder="https://www.youtube.com/watch?v=aFPJf-wKTd0" #input>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding-top: 2em; padding-left: 0.5em;">
        <mat-label>A short description about the course</mat-label>
        <input [(ngModel)]="short_info" matInput maxlength="400" placeholder="Crop" #input>
        <mat-hint align="end">{{input.value.length}} / 400</mat-hint>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" style="padding-top: 2em; padding-left: 0.5em;">
        <mat-label>The complete description of the course</mat-label>
        <input [(ngModel)]="long_info" matInput maxlength="400" placeholder="Crop" #input>
        <mat-hint align="end">{{input.value.length}} / 800</mat-hint>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" cdkAutosizeMaxRows="15"></textarea>
    </mat-form-field>

    <div style="width: 70%; display: flex; justify-content: right;">
        <button mat-raised-button color="primary" style="height: 2.8em !important; margin-left: 1%; display: flex;">
            <mat-icon>playlist_add</mat-icon>
            Submit
        </button>
    </div>

</div>